

 @font-face 
 {
    font-family: myfont;
    src: url(fonts/Montserrat-Thin.otf);
 }
 
 @font-face 
 {
    font-family: myfont;
    src: url(fonts/Montserrat-ExtraBold.otf);
	 font-weight: bold;
 }
 
 body
 {	background-attachment: fixed; 
 	background-size: 100%;
 	font-family: myfont;
	color:#FFF
 }
@font-face{
	font-family:'FontAwesome';
	src:url(fonts/FontAwesome.otf);
}
.fa{display:inline-block; font:normal normal normal 14px/1 FontAwesome; text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

.fa-twitter:before{content:"\f099"}
.fa-facebook:before{content:"\f09a"}
/*.fa-google:before{content:"\f1a0"}
.fa-instagram:before{content:"\f16d"}*/

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook:hover
{
    color: #3B5998;
  background: rgba(256,256,256,0.2);;}

.fa-twitter:hover
{
    color: #55ACEE;
  background: rgba(256,256,256,0.2);
  }
  
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
/*
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
*/